/* General stylings */

body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 20px;
  flex-wrap: wrap;
}

input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

input[type='checkbox'] + label {
  display: flex;
  position: relative;
  cursor: pointer;
  margin: 30px;
}

/* Toggle 1 */

input[type='checkbox'] + label[for='checkbox1']::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: #ccc;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox1']::after {
  content: '';
  width: 1.25em;
  height: 1.25em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.125em;
  left: -0.125em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox1']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox1']::before {
  background-color: #376fcb;
}

input[type='checkbox']:checked + label[for='checkbox1']::after {
  transform: translateX(1.125em);
  background-color: #4285f4;
}

/* Toggle 2 */

input[type='checkbox'] + label[for='checkbox2']::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: #ccc;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox2']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox2']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox2']::before {
  background-color: #4bd865;
}

input[type='checkbox']:checked + label[for='checkbox2']::after {
  transform: translateX(1em);
}

/* Toggle 3 */

input[type='checkbox'] + label[for='checkbox3']::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: #fff;
  border-radius: 0.5em;
}

input[type='checkbox'] + label[for='checkbox3']::after {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox3']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox3']::after {
  transform: translateX(1em);
  background-color: #3fb454;
}

/* Toggle 4 */

input[type='checkbox'] + label[for='checkbox4']::before {
  content: '';
  width: 2em;
  height: 0.75em;
  background-color: #bbb;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox4']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.125em;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox4']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox4']::before {
  background-color: #77c2bb;
}

input[type='checkbox']:checked + label[for='checkbox4']::after {
  transform: translateX(1.125em);
  background-color: #009688;
}

/* Toggle 5 */

input[type='checkbox'] + label[for='checkbox5']::before {
  content: '';
  width: 2em;
  height: 0.5em;
  background-color: #bbb;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox5']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.25em;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox5']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  width: 1.25em;
  height: 1.25em;
  transform: translate(-0.125em, -0.125em);
}

input[type='checkbox']:checked + label[for='checkbox5']::before {
  background-color: #b66d0b;
}

input[type='checkbox']:checked + label[for='checkbox5']::after {
  transform: translateX(1em);
  background-color: #ff980f;
}

input[type='checkbox']:checked:hover + label[for='checkbox5']::after {
  transform: translate(1em, -0.125em);
}

/* Toggle 6 */

input[type='checkbox'] + label[for='checkbox6']::before {
  content: '';
  width: 2em;
  height: 0.1em;
  background-color: #ccc;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox6']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  top: -0.45em;
  left: -0.125em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox6']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox6']::before {
  background-color: #376fcb;
}

input[type='checkbox']:checked + label[for='checkbox6']::after {
  transform: translateX(1.25em);
  background-color: #4285f4;
}

/* Toggle 7 */

input[type='checkbox'] + label[for='checkbox7']::before {
  content: '';
  width: 2em;
  height: 0.9em;
  border-radius: 0.5em;
  border: 0.1em solid #555;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox7']::after {
  content: '';
  width: 0.75em;
  height: 0.75em;
  background-color: #555;
  border-radius: 50%;
  position: absolute;
  top: 0.15em;
  left: 0.16em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox7']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox7']::before {
  border: 0.1em solid #329043;
}

input[type='checkbox']:checked + label[for='checkbox7']::after {
  transform: translateX(1.125em);
  background-color: #3fb454;
}

/* Toggle 8 */

input[type='checkbox'] + label[for='checkbox8']::before {
  content: '';
  width: 2em;
  height: 1em;
  background-color: #ddd;
  border-radius: 0.25em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox8']::after {
  content: '';
  width: 1.25em;
  height: 1em;
  background-color: #fff;
  border-radius: 0.25em;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox8']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox8']::before {
  background-color: #ff980f;
}

input[type='checkbox']:checked + label[for='checkbox8']::after {
  transform: translateX(0.75em);
}

/* Toggle 9 */

input[type='checkbox'] + label[for='checkbox9']::before {
  content: '';
  width: 2em;
  height: 0.75em;
  background-color: #aaa;
  border-radius: 0.5em;
  transition-duration: 500ms;
}

input[type='checkbox'] + label[for='checkbox9']::after {
  content: '';
  width: 1em;
  height: 0.75em;
  background-color: #fff;
  border-radius: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox9']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox9']::before {
  background-color: #266c33;
}

input[type='checkbox']:checked + label[for='checkbox9']::after {
  transform: translateX(1em);
  background-color: #369a48;
}

/* Toggle 10 */

input[type='checkbox'] + label[for='checkbox10']::before {
  content: '✓×';
  width: 3em;
  font-weight: bold;
  font-size: 0.6em;
  height: 1.8em;
  border: 0.05em solid #cdcdcd;
  border-radius: 1em;
  color: #aaa;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.8em;
  transition-duration: 500ms;
  padding-left: 0.8em;
}

input[type='checkbox'] + label[for='checkbox10']::after {
  content: '';
  width: 1em;
  height: 1em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.04em;
  left: 0.05em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition-duration: 500ms;
}

input[type='checkbox']:hover + label[for='checkbox10']::after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

input[type='checkbox']:checked + label[for='checkbox10']::before {
  background-color: #4bd865;
  color: white;
}

input[type='checkbox']:checked + label[for='checkbox10']::after {
  transform: translateX(0.8em);
}
