@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  background-color: hsl(30, 54%, 90%);
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.container {
  background-color: white;
  min-height: 100vh;
  color: hsl(24, 5%, 18%);
}

img {
  width: 100%;
}

.textbox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

h1,
p,
li,
h2,
td {
  font-weight: 400;
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h1 {
  margin: 0;
  font-size: 1.75rem;
}

p,
h3,
li,
td {
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 0.85rem;
  line-height: 140%;
}

.prep {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem 1rem 0.25rem 1rem;
  border-radius: 0.5rem;
}

h3 {
  margin: 0;
  color: hsl(332, 51%, 32%);
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0.5rem;
}

ul li {
  color: hsl(24, 5%, 18%);
  font-size: 0.8rem;
  line-height: 200%;
  list-style: none;
  display: flex;
  align-items: center;
}

ul li::before {
  content: "•";
  color: hsl(14, 45%, 36%);
  padding-right: 1rem;
  font-size: 180%;
}

ul li b {
  margin-bottom: auto;
}

.prep li::before {
  color: hsl(332, 51%, 32%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

hr {
  border-color: hsl(24, 5%, 18%);
  opacity: 30%;
  width: 100%;
}

ol {
  padding: 0 0 0 1rem;
  margin: 0.5rem;
}

ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

ol li {
  padding-left: 1rem;
  line-height: 150%;
}

h2 {
  margin: 0.5rem 0;
}

table,
td {
  border-collapse: collapse;
}

td {
  padding: 0.5rem 0;
}

td:first-of-type {
  padding-left: 1rem;
}

td:last-of-type {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

tr:not(tr:last-of-type) td {
  border-bottom: 1px solid hsla(24, 5%, 18%, 40%);
}

.attribution {
  text-align: center;
  font-family: sans-serif;
  margin-top: 0.5rem;
}

.desktop {
  display: none;
}

@media only screen and (min-width: 375px) {
  .container {
    padding: 2rem;
    width: 30rem;
    margin: 3rem 0.5rem 0.5rem 0.5rem;
    min-height: 0;
    border-radius: 0.5rem;
  }

  img {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .textbox {
    padding: 0;
  }

  .attribution {
    margin-bottom: 1rem;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
