body {
  width: 98.5vw;
}

header,
footer {
  background-color: #838a94;
  font-family: 'Archivo Black', 'Roboto', 'Arial', sans-serif;
  letter-spacing: 0.04rem;
}

header img {
  height: 5rem;
}

ul {
  list-style: none;
}

main {
  background-color: black;
}

main img:not(.img-fluid) {
  height: 20rem;
  object-fit: cover;
}

a .card-title:hover,
a .card-title:focus {
  text-decoration: underline;
}

.img-fluid {
  height: 7rem;
  width: 7rem;
}

footer img {
  height: 2rem;
}
