body {
  width: 98.5vw;
  min-height: 100vh;
}

header,
footer {
  background-color: #838a94;
  font-family: 'Archivo Black', 'Roboto', 'Arial', sans-serif;
  letter-spacing: 0.04rem;
}

header img {
  height: 5rem;
}

ul {
  list-style: none;
}

main {
  background-color: black;
}

#home img {
  height: 20rem;
  object-fit: cover;
}

a .card-title:hover,
a .card-title:focus {
  text-decoration: underline;
}

.img-fluid {
  height: 7rem;
  width: 7rem;
}

footer img {
  height: 2rem;
}

.card {
  height: 12rem;
  width: calc(10rem + 15vw);
}

.text-bg-dark {
  background-color: black !important;
}

#about img {
  width: 10rem;
}

.nav-item:hover,
.nav-item:focus,
main a:hover,
main a:focus {
  text-decoration: underline;
}
