/* Google */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Poem */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.poemPage {
  font-family: 'Pacifico', Arial, sans-serif;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.poemPage:first-of-type {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(185, 40, 40, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(185, 40, 40, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(185, 40, 40, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#b92828",GradientType=1);
}

.poemLine {
  padding-bottom: 7rem;
}

.arrow {
  position: absolute;
  color: white;
  font-size: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.arrow:hover,
.arrow:focus {
  cursor: pointer;
}

.poemPage:first-of-type .arrow:hover,
.poemPage:first-of-type .arrow:focus {
  background-color: rgba(185, 40, 40, 0.5);
}

.poemPage:nth-of-type(2) {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 40, 185, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 40, 185, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(43, 40, 185, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2b28b9",GradientType=1);
}

.poemPage:nth-of-type(2) .arrow:hover,
.poemPage:nth-of-type(2) .arrow:focus {
  background-color: rgba(43, 40, 185, 0.5);
}

.comicSans {
  font-family: 'Comic Sans', cursive;
  font-style: italic;
}

.poemPage:nth-of-type(3) {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 204, 7, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 204, 7, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 204, 7, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e2cc07",GradientType=1);
}

.poemPage:nth-of-type(3) .arrow:hover,
.poemPage:nth-of-type(3) .arrow:focus {
  background-color: rgba(226, 204, 7, 0.5);
}

.poemPage:nth-of-type(4) {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 7, 223, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 7, 223, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(226, 7, 223, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e207df",GradientType=1);
}

.poemPage:nth-of-type(4) .arrow:hover,
.poemPage:nth-of-type(4) .arrow:focus {
  background-color: rgba(226, 7, 223, 0.5);
}

.poemPage:nth-of-type(5) {
  background: rgb(21, 193, 246);
  background: -moz-radial-gradient(
    circle,
    rgba(21, 193, 246, 1) 0%,
    rgba(145, 7, 226, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(21, 193, 246, 1) 0%,
    rgba(145, 7, 226, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(21, 193, 246, 1) 0%,
    rgba(145, 7, 226, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15c1f6",endColorstr="#9107e2",GradientType=1);
}

/* Final page */
.buttons {
  margin-top: -8rem;
}

button {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 5rem;
  height: 2rem;
  margin: 1rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

.large {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}

.small {
  transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
}

.translated1 {
  transform: translate(5rem, 9rem);
  -moz-transform: translate(5rem, 9rem);
  -webkit-transform: translate(5rem, 9rem);
  -o-transform: translate(5rem, 9rem);
  -ms-transform: translate(5rem, 9rem);
}

.translated2 {
  transform: translate(-15rem, -19rem);
  -moz-transform: translate(-15rem, -19rem);
  -webkit-transform: translate(-15rem, -19rem);
  -o-transform: translate(-15rem, -19rem);
  -ms-transform: translate(-15rem, -19rem);
}
